.mainHeader{
    width:100%;
    background-color:var(--fourth-clr);
}
.header-inner{
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:#fff;
   
    padding:0 9px;
}
.logo{
    text-indent: -500px;
    width:97px;
    height:34px;
    margin:7px 20px 0 1px ;
}
header .input-search{
    width:70%;
    padding:4px 8px;
    font-weight:bold;
}
header .input-search:focus{
    outline:none;
    border:3px solid var(--secondary-clr);
}
.navbar-nav .nav-item {/* might be changed later */
    margin-right:10px; 
    padding:1px 5px;
    font-size:16px;
    color:#ffffff;
    text-transform: capitalize;
} 
.navbar-nav .nav-item h5{
    font-size:15px;
}
.navbar-nav .nav-item:hover , .logo:hover{
    outline-style:solid;
    outline-color: rgb(245, 245, 245);
    outline-width:1px;
}
.navbar-nav .nav-item small{
    font-size:12px;
    color:#ccc;
}
.mainHeader .navbar{
    padding:2px;
}
.upper__search__btn{
    text-align:center;
    background-color: var(--secondary-clr);
    padding:6.3px 10px;
    border-radius: 0 6px 6px 0;
    border:none;
}
.mainHeader .header-inner .navbar .navbar-nav h5,.mainHeader .navbar .navbar-nav .shopping__cart__icon{
    color:#fff;
}
.cart-side{
    display:flex;
    flex-direction:column;
    width:80px;
    position: relative;
}
.cartItemsCount{
    position:absolute;
    top:7px;
    left:50%;
}

.mainHeader .navbar .navbar-nav .cartItemsCount{
    color: var(--yellowish-clr4) !important;
    font-weight:bold;
}
@media only screen and (max-width:640px){
    .navbar-nav .nav-item:hover , .logo:hover{
        outline:none ;
    }
    .cartItemsCount, .shopping__cart__icon{
        position:static;
    }
    .cart-side{
        flex-direction: row-reverse;
    }
}