.categories-card img{
    margin: 0;
    object-fit: contain;
    max-width:100%;
    /* height:100%; */
    /* max-width:none; */
}
.categories-card .card-body h4{
    font-size: 20px;
    font-weight:bolder;
}
.categories-card span a{
    font-size:14px;
    cursor:pointer;
}